{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }} !</p>

{% for message in messages %}

<div class="alert alert-success">
  <a class="close" href="#" data-dismiss="alert">×</a>

  {{ message }}

</div>
{% endfor %}

<form action="/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="file1"> Upload a file</label>
  <input type="file" id="file1" name="file">
  <small>Only accepts CSV files</small>
  <button type="submit">Upload</button>

</form>

{% else %}
<a href="{% provider_login_url 'google' %}">Login with Grofers Account</a>
{% endif %}
{% endblock content %}