{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }} !</p>

{% for message in messages %}

<div class="alert alert-success">
  <a class="close" href="#" data-dismiss="alert">×</a>
  <!-- {% if just_logged_out %}  You are successfully logged out {% endif %} -->

  {{ message }}

</div>
{% endfor %}

<form action="/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

<ul><br><b>Step 1:</b> Go to <a href={% url 'readme' %} target="_blank">Readme Page</a> and follow the instruction.</br></ul>
<ul>  <br><b>Step 2:</b> Attach the result file generated during <em>step 1</em> (It's on your desktop, name starting with AUDI___)</br>
  <!-- <label for="file1"> Browse Now</label> -->
  <input type="file" id="file1" name="file"></ul>

<ul>  <br><b>Step 3:</b>  Once the file is selected. Upload the results by clicking the upload button.</br>
  <button type="submit">Upload</button></ul>

</form>
{% else %}
<!-- <div id="my-signin2"></div>
<script>
  function onSuccess(googleUser) {
    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
  }
  function onFailure(error) {
    console.log(error);
  }
  function renderButton() {
    gapi.signin2.render('my-signin2', {
      'scope': 'profile email',
      'width': 240,
      'height': 50,
      'longtitle': true,
      'theme': 'dark',
      'onsuccess': onSuccess,
      'onfailure': onFailure
    });
  }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> -->
<!-- <a href="{% provider_login_url 'google' %}">Login with Grofers Account</a> -->

<div class="row">
  <div class="col-lg-12 text-center">
  <!-- <div class="col-md-12 align-self-center mx-auto"> -->
    <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}"
    role="button"
    style="text-transform:none">
      <img width="50px" style="margin-bottom:3px; margin-right:5px"
      alt="Google sign-in"
      src="https://logodix.com/logo/839494.png" />

      Login with Grofers Account
     </a>
    <!-- <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}"
    role="button"
    style="text-transform:none">
      <img width="20px" style="margin-bottom:3px; margin-right:5px"
      alt="Google sign-in"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />


      Login with Grofers Account
    </a> -->
  </div>
</div>

<!-- Minified CSS and JS -->
<link   rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>

{% endif %}
{% endblock content %}
