{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome, {{ user.email }} !</p>

{% for message in messages %}



<div class="alert alert-success">
  <a class="close" href="#" data-dismiss="alert">×</a>
  <!-- {% if just_logged_out %}  You are successfully logged out {% endif %} -->

  {{ message }}

</div>
{% endfor %}

<html>

<body>

  <h3>Instructions for Windows:</h3>

  <ol>
    <!-- <p><strong>Step 1</p> -->
    <li>Click <strong> Start </strong> and <strong>Search</strong> "cmd". When you see <strong>Command Prompt</strong>
      app,
      right-click and choose <strong>Run as administrator</strong> on the menu.</li>
    <!-- <li>Type <a style="background-color:#f1f1f1;font-family:monospace;">cmd</a> in the <a style="background-color:#f1f1f1;font-family:monospace;">RUN</a> box and press enter to open the command prompt.</li> -->
    <!-- <p>
      <image
        src="https://www.isunshare.com/images/article/windows-10/2-ways-to-run-command-prompt-as-administrator-in-win-10/run-command-prompt-as-administrator.png"
        width="30%" height="30%"></image>
    </p> -->
    <!-- <li>Once the command prompt window appears, copy and paste the following command in it:
      <pre><xmp>@"%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe" -NoProfile -InputFormat None -ExecutionPolicy Bypass -Command "[System.Net.ServicePointManager]::SecurityProtocol = 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/childish-gambino/osquery_deps/master/win/invoke.ps1'))"</xmp> </pre>
    </li> -->
    <li>Once the command prompt window appears, copy and paste the following command in it:<br>
      <a style="background-color:#f1f1f1;font-family:monospace;">@"%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe" -NoProfile -InputFormat None -ExecutionPolicy Bypass -Command "[System.Net.ServicePointManager]::SecurityProtocol = 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/childish-gambino/osquery_deps/master/win/invoke.ps1'))"</a>
    </li>
    <li>Hit <strong>Enter</strong> key to run the command. Provide your email when prompted, for ex:<br> <a
        style="background-color:#f1f1f1;font-family:monospace;"> Please enter your Grofers/HOT email ID:
        <em>bojack@grofers.com</em> </a> </li>
    <li>That's all folks!</li>

  </ol>
  <h3>Instructions for Mac:</h3>
  <ol>
    <li>Use the keyboard shortcut<a style="background-color:#f1f1f1;font-family:monospace;"> Command + Space</a> to open
      the Spotlight Search Box.</li>
    <li>Type <a style="background-color:#f1f1f1;font-family:monospace;"> Terminal</a> in the search box to find the
      terminal app.</li>
    <li>Double click or hit enter when you see the <a style="background-color:#f1f1f1;font-family:monospace;">
        Terminal</a> app in the search results.</li>
    <!-- <li>Once the terminal window appears, copy and paste the following command in the terminal window:
    <pre><xmp>sudo -v && curl -OL https://raw.githubusercontent.com/childish-gambino/osquery_deps/master/vroom.sh &&chmod +x ./vroom.sh && ./vroom.sh {{ user.email }}</xmp> </pre></li> -->

    <li>Once the terminal window appears, copy and paste the following command in the terminal window:<br>
      <a style="background-color:#f1f1f1;font-family:monospace;">sudo -v && curl -OL https://raw.githubusercontent.com/childish-gambino/osquery_deps/master/vroom.sh &&chmod +x ./vroom.sh && ./vroom.sh {{ user.email }}</a>
    </li>
    <li>That's all folks! </li>
  </ol>
</body>

</html>

{% else %}
<div id="my-signin2"></div>
<script>
  function onSuccess(googleUser) {
    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
  }

  function onFailure(error) {
    console.log(error);
  }

  function renderButton() {
    gapi.signin2.render('my-signin2', {
      'scope': 'profile email',
      'width': 240,
      'height': 50,
      'longtitle': true,
      'theme': 'dark',
      'onsuccess': onSuccess,
      'onfailure': onFailure
    });
  }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<!-- <a href="{% provider_login_url 'google' %}">Login with Grofers Account</a> -->

<div class="row">
  <div class="col-lg-12 text-center">
    <div class="col-md-12 align-self-center mx-auto">
      <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}" role="button"
        style="text-transform:none">
        <img width="50px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
          src="https://logodix.com/logo/839494.png" />

        Login with Grofers Account
      </a>
      <!-- <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}"
    role="button"
    style="text-transform:none">
      <img width="20px" style="margin-bottom:3px; margin-right:5px"
      alt="Google sign-in"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />


      Login with Grofers Account
    </a>
  </div>
</div> -->

      <!-- Minified CSS and JS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>

      {% endif %}
      {% endblock content %}