{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Google Registration</title>
  </head>
  <body>
  <h1>Grofers Software Compliance</h1>
  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} !</p>

    {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form action="/upload-csv/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    {% endif %}
    {% for profile in profiles %}
    {{profile.name}}
    {% endfor %}
 
  {% else %}  
  <h4>Upload Your Scan Results Here</h4>
  <a href="{% provider_login_url 'google' %}">Login with Grofers Account</a>
  {% endif %}

  </body>
</html>
{% endblock content %}
